
@font-face {
  font-family: at10;
  src: url("../assets/font/at10.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/font/at10.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../assets/font/at10.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../assets/font/at10.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../assets/font/at10.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

*,
.v-application .title {
  font-family: "at10" !important;
  letter-spacing: 0 !important;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* main setting styles */

* {
  direction: rtl !important;
}

.ltr > div,
.ltr .v-slide-group__wrapper {
  direction: ltr !important;
}

.row {
  margin: 0 !important;
}

.col {
  padding: 0;
}

.widthAll {
  width: 100%;
}

.heightAll {
  height: 100%;
}

.fixed {
  position: fixed !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute !important;
}

.cursorPointer {
  cursor: pointer;
}

.hideOver {
  overflow: hidden;
}
.hideOver-x {
  overflow-x: hidden;
}

.hideOver-y {
  overflow-y: hidden;
}

/* components style */

.mainDiv {
  position: fixed;
  z-index: 2;
  left: 50px;
  top: 32px;
  direction: ltr;
  overflow: scroll;
}

.mainDiv::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mainDiv {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.mainDiv .v-data-table {
  width: 80%;
  margin-right: 100px;
  /* background-color: #ffeceb !important;
   max-height: 90%; */
}

.mainDiv .v-data-table header {
  background: #ffd8d6;
}

.mainDiv .v-data-table thead {
  background-color: #9e0b0f !important;
}

.mainDiv .v-data-table thead th {
  font-size: 16px !important;
  color: #fff !important;
}

.mainDiv .v-data-table tbody tr:hover {
  background-color: #fff3f3 !important;
}

.mainDiv .v-data-table .v-data-table__wrapper::-webkit-scrollbar {
  display: none;
}

.mainDiv .v-data-footer * {
  direction: ltr !important;
}

/* loading color */
.v-progress-linear__buffer {
  background-color: #ffd8d6;
}

.v-data-table__progress .primary {
  background-color: red !important;
}

.title {
  display: inline-block;
}

.underTitle {
  width: 40%;
  border: 1px solid red;
}

.carouselDiv {
  height: 320px;
}

.v-rating button {
  margin: 0;
  padding: 0 !important;
}

.v-text-field__slot label{
  left: auto !important;
  right: -8px !important;
}

.v-textarea label{
  left: auto !important;
  right: 5px !important;
}

.v-application--is-ltr .v-text-field .v-label {
  transform-origin: top right !important;
}

.v-text-field--outlined .v-label--avtive {
  transform: translateY(-24px) scale(0.75) !important;
}

.v-application--is-ltr .v-text-field--outlined legend{
  text-align: right !important;
}

.v-select__slot label{
  color: #fff !important;
}

.menu-bar{
  overflow:scroll
}

/* Hide scrollbar for Chrome, Safari and Opera */
.menu-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.menu-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.notifyAlert{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.notes{
  bottom: 0;
  height: 50px;
}

/* responsive */

@media (min-width: 960px) and (max-width: 1263px) {
  
}

@media (min-width: 600px) and (max-width: 959px) {
  .v-data-table > .v-data-table__wrapper .v-data-table__mobile-table-row {
    display: initial !important;
  }
}

@media (max-width: 599px) {
  .mainDiv .v-data-table {
    width: 75%;
    margin-right: 100px;
  }

  .v-data-table > .v-data-table__wrapper .v-data-table__mobile-table-row {
    margin-top: 30px;
  }

  .v-data-table > .v-data-table__wrapper .v-data-table__mobile-row {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #f0f0f0;
}
}

@media (max-width: 499px) {
  
}
